*{
    padding: 0;
    margin: 0;
}

body{
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    background: radial-gradient(hsl(214, 47%, 23%) 0%,hsl(237, 49%, 15%) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


/* Heading */
.head-div{
    width: 50%;
    padding: 20px;
    border: solid 3px hsl(217, 16%, 45%);
    border-radius: 20px;
    margin: 30px auto;
}
.head-div .logo{
    width: 150px;
}


.head-div .score{
    float: right;
    width: 120px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: -15px;
}

.score h3{
    color: hsl(229, 64%, 46%);
}

.score h1{
    color: hsl(229, 25%, 31%);
    font-size: 70px;
    margin-top: 0;
}




/* Play */
.first{
    height: 400px;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 100px;
}


.triangle{
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 50%;
    margin-left: -150px;
}
.icon{
    border-radius: 50%;
    padding: 30px;
    height: 180px;
    width: 180px;
    border: 20px solid;
    position: absolute;
    cursor: pointer;
}

.icon:hover{
    box-shadow: none;
    transform: translateY(10px);
}

.blue{
    border-color: hsl(230, 89%, 62%);
    left: 42%;
    margin-left: -90px;
    color: hsl(230, 89%, 65%);
    box-shadow: inset 0px 7px 2px #cecccc,  0 7px 0 1px hsl(230, 89%, 62%);
}
.yellow{
    border-color: hsl(39, 89%, 49%);
    right: 42%;
    margin-right: -90px;
    color:hsl(40, 84%, 53%) ;
    box-shadow: inset 0px 7px 2px #cecccc, 0 7px 0px 1px hsl(39, 89%, 49%);
}

.red{
    border-color: hsl(349, 71%, 52%);
    top: 210px;
    left: 50%;
    margin-left: -90px;
    color:  hsl(349, 70%, 56%);
    box-shadow: inset 0px 7px 2px #cecccc, 0 7px 0 1px hsl(349, 71%, 52%);
}

/* second */

.second{
    height: 400px;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 100px;
}
.second .container{
    display:flex;
    text-align: center;
}

.box{
    width: 50%;
    height: 100%;
    color: #ffffff;
    font-family: 'Barlow Semi Condensed', sans-serif ;
    letter-spacing: 3px;
}

.box h1{
    margin: 50px;
}

.container-icon{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: static;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    border: 30px solid;
}

.container-icon img{
    width: 60%;
}

.container-icon.empty{
    background-color: hsl(237, 49%, 15%);
    border: none;
}



.final{
    height: 400px;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 100px;
}
.result{
    display: flex;
    text-align: center;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif ;
}


.play-div{
    width: 35%;
    height: 100%;
    letter-spacing: 3px;
}

.play-div h1{
    margin: 50px;
}

.declare{
    width: 30%;
    height: 100%;
    justify-content: center;
    padding-top:200px;
}

.declare h1{
    font-size: 50px;
    position: relative;
    z-index: 1000;
}
.declare button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
}


.win{
    position: relative;
    box-shadow: 0 0 0 40px hsl(229, 25%, 31%), 0 0 0 80px hsl(228, 29%, 26%),0 0 0 120px hsl(228, 36%, 25%),0 0 0 160px hsl(229, 42%, 22%);
    z-index: -1;
}

.visible{
    display: none;
}


/* Rules */
.rule-button{
    height: 40px;
    width: 130px;
    float: right;
    border: 2px solid hsl(217, 16%, 45%);
    margin: 30px;
    background-color: transparent;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}

.rule-button:hover{
    color:hsl(229, 25%, 31%);
    background-color: #fff;
}




.rule-container .rule-img{
    width: 40%;
    position: absolute;
    top: 30%;
    left: 30%;
}

.cross{
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
}


.blur{
    opacity: 10%;
}

@media (max-width:1000px){
    body{
        min-height: 110vh;
    }
    .head-div {
        width: 70%;
    }
    .head-div.logo{
        width: 50px;
    }
    .head-div.score{
        width: 70px;
        height: 50px;

    }
    .score h1{
        line-height: 50px;
    }

    .blue
    {
        left: 30%;
    }
    .yellow{
        right: 30%;
    }
    .box h1{
        margin: auto auto 30px auto;
    }
    .container-icon{
        width: 200px;
        height: 200px;
        border: 20px solid;
    }
    .play-div{
        width: 50%;

    }
    .play-div h1{
        margin: auto auto 50px auto;
    }
    .declare{
        position: absolute;
        top: 150px;
        left: 50%;
        margin-left: -165px;
        justify-content: center;
        width: 50%;
        height: 100px;

    }
    .win{
    box-shadow: 0 0 0 40px hsl(229, 25%, 31%), 0 0 0 80px hsl(228, 29%, 26%),0 0 0 120px hsl(228, 36%, 25%),0 0 0 160px hsl(229, 42%, 22%);
    left: 0;
    right: 0;
    }
    
    .rule-button:hover{
        float: none;
        position: absolute;
        left: 50%;
        margin-left: -65px;
        margin-top: 100px;
    }
}

